.chat {
  width: 80%;
  background: url("../../assets/images/chatbackground.png");
  background-position: center;
  text-align: center;
  color: black;
  height: 93vh;
  width: 80vw;
  margin-top: 60px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat::-webkit-scrollbar {
  display: none;
}
.chat__header {
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  padding-right: 10px;
  background-color: lightgray;
  position: fixed;
  width: 79%;
}
.chat__header .chat__details {
  display: flex;
  padding: 8px;
  align-items: center;
  font-size: 14px;
}
.chat__header .channel__info {
  margin-left: 5px;
}
.channel__icons .MuiSvgIcon-root {
  color: gray;
}
.message__input {
  position: fixed;
  width: 70%;
  text-align: center;
  bottom: 0px;
}
.message__input form textarea {
  padding: 16px;
  width: 85%;
  border-radius: 20px;
  border: none;
  margin: 10px;
  padding-right: 60px;
  font-size: 18px;
  color: gray;
}
.message__input form textarea::-webkit-scrollbar {
  display: none;
}
.message__input form textarea:focus {
  border: none;
  outline: none;
}
form button {
  width: 40px;
  bottom: 20px;
  right: 36px;
  position: absolute;
  outline: none;
  border: none;
}
@media (max-width: 600px) {
  .chat__header .chat__details {
    font-size: 10px;
  }
  .chat {
    width: 80%;
  }
  .chat__header {
    width: 65%;
  }
  .message__input form textarea {
    width: 58%;
  }
}
