.chat {
  flex: 0.7;
  background: url("../../assets/images/chatbackground.png");
  background-position: center;
  text-align: center;
  color: black;
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-right: 7px;
  margin-top: 20px;
}

.chat::-webkit-scrollbar {
  display: none;
}

.chat .chat__message {
  padding-top: 60px;
}
.channel__icons .MuiSvgIcon-root {
  color: gray;
}

@media (max-width: 500px) {
  .chat {
    width: 100%;
    margin-top: 0%;
  }
}
.message__input {
  background-color: rgb(204, 202, 202);
  width: 100%;
}
