.message__input {
  position: fixed;
  width: 70%;
  text-align: left;
  bottom: 0px;
  z-index: 4;
  background-color: rgb(227, 230, 231);
}

.message__input form textarea {
  padding: 10px;
  width: 70%;
  margin-right: 40px;
  border-radius: 20px;
  border: none;
  background-color: white;
  margin: 10px;
  padding-right: 60px;
  font-size: 14px;
  position: relative;
  box-shadow: 1px 1px 13px rgb(105, 105, 105);
}

.message__input form textarea::placeholder {
  color: rgb(49, 47, 47);
}

.message__input form textarea::-webkit-scrollbar {
  display: none;
}

.message__input form textarea:focus {
  border: none;
  outline: none;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

form button {
  bottom: 20px;
  position: absolute;
  top: 18px;
  margin-left: 80%;
  color: rgb(14, 13, 13);
  outline: none;
  background-color: transparent;
  border: none;
  z-index: 999;
}


.file-input {
  overflow: hidden;
  position: absolute;
  z-index: 8888888;
  background-color: bisque;
  left: 0%;
  opacity: 0;
  width: 130px;
  z-index: -3;

}

.file-input+label {
  display: inline-block;
  border: 2px solid rgb(1, 59, 92);
  border-radius: 5px;
  outline: none;
  margin-left: 5px;
  user-select: none;
  cursor: pointer;
}

.file-input+label>.MuiSvgIcon-root {
  color: rgb(1, 59, 92);
  font-size: 25px;
}

@media (max-width: 800px) {
  .message__input form textarea {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .message__input form textarea {
    width: 80%;
    padding: 8px;
    z-index: 1;
    margin-right: 65px;
  }

  form button {
    right: 20px;
    top: 13px;
    color: rgb(255, 253, 253);
    background-color: rgb(1, 59, 92);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;

  }

  form button>.MuiSvgIcon-root {
    font-size: 18px;
    margin-left: 2px;
  }

  .message__input {
    width: 100%;
  }
}