.userChatScreen {
  flex: 0.7;
  background: url("../../assets/images/chatbackground.png");
  background-position: center;
  text-align: center;
  color: black;
  height: 93vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-right: 7px;
  margin-top: 40px;
}

.userChatScreen::-webkit-scrollbar {
  display: none;
}

.userChatScreen h2 {
  position: absolute;
  bottom: 0%;
  margin-top: 70px;
  position: relative;
}

@media (max-width: 500px) {
  .userChatScreen {
    width: 100%;
    margin-top: 0;

  }
}