.sidebar {
  flex: 0.3;
  background-color: rgb(0, 52, 110);
  color: whitesmoke;
  border-top: 1.5px solid rgb(6, 122, 175);
  height: 90vh;
  margin-top: 60px;
  padding: 5px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
  scrollbar-track-color: blue;
}

@media (max-width: 500px) {
  .sidebar {
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}

.sidebar::-webkit-scrollbar {
  height: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: rgb(0, 52, 110);
}


::-webkit-scrollbar-thumb {
  background: rgb(84, 186, 245);

}

::-webkit-scrollbar-thumb:hover {
  background: rgb(18, 115, 172);
}

.sidebar__top {
  font-size: 15px;
  padding-bottom: 10px;
  font-family: "roboto", monospace;
}

.sidebar__details h4>img {
  width: 30px;
  filter: invert();
  margin-right: 2px;
  border-radius: 40%;
}

.sidebar__details h4 {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.sidebar__details>h5 {
  display: flex;
  font-size: 0.8em;
  align-items: center;
  margin-top: 0.3em;
  font-weight: 500;
}

.sidebar__details>h5>.MuiSvgIcon-root {
  color: lime;
  font-size: 14px;
}

.sidebar__content>hr {
  border-color: rgb(2, 100, 124);
  margin: 15px 0;
}